@charset 'UTF-8';
#swsk-main > section {
    padding: 60px 10px;
}
#swsk-main > .main-banner-container {
    padding: 0;
}
#swsk-main > section h2 {
    margin-bottom: 2em;
    text-align: center;
}
#swsk-main .more-wrap {
    margin-top: 20px;
    text-align: center;
}

/* 1. 메인배너 */
.main-banner-container {
    position: relative;
}
.main-banner-wrap { /* 스크린 */
    /* position: relative; */
    width: 100%;
    height: calc(96vh - 180px);
    background-color: #ccc;
    overflow: hidden;
}
.main-banner { /* 5개짜리 전체 리스트 */
    /* position: absolute;
    left: 0;
    top: 0; */
    width: 700%;
    height: 100%;
    transition: transform 0.5s 0.2s;
    /* transition-property: left;
    transition-duration: 0.5s;
    transition-delay: 0.2s; */
}
.mb-slide { /* 개별 슬라이드 */
    float: left;
    width: calc(100% / 7);
    height: 100%;
    background-position: center center;
    background-size: cover;
}
.main-banner-slide1 {background-image: url('../images/01.main_banner/main_tree.jpg');}
.main-banner-slide2 {background-image: url('../images/01.main_banner/main_golden_goose.jpg');}
.main-banner-slide3 {background-image: url('../images/01.main_banner/main_holiday.jpg');}
.main-banner-slide4 {background-image: url('../images/01.main_banner/main_box.jpg');}
.main-banner-slide5 {background-image: url('../images/01.main_banner/main_giftcard.jpg');}
/* .mb-slide.active {
    width: calc((100% / 7)*1.2);
} */
.mb-slide a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    transition: 0.3s;
    
}
.mb-slide a:hover, .mb-slide.active a {
    background-color: rgba(0,0,0,0);
}
.mb-slide span {
    display: block;
    margin-top: 100%;
    padding-left: 15px;
    font-size: 2.4em;
    font-weight: 700;
    opacity: 0.2;
    transition: 0.3s;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
.mb-slide span.small_txt{
    display: block;
    margin-top: 0;
    padding-bottom: 10px;
    font-size: 1em;
    font-weight: 400;
    opacity: 0;
    transition: 0.3s;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}
.mb-slide.active span {
    opacity: 1;
}
.main-banner-pagination {
    height: 90px;
    padding: 40px 0;
    text-align: center;
    line-height: 1;
}
.mb-btn {
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999em;
    overflow: hidden;
}
.mb-btn:after {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #000;
    margin-top: 0px;
    margin-left: 21.5px;
    content: '';
    transition: 0.3s;
}
.mb-btn:hover:after {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border: none;
}
.mb-btn.active:after {
    position: relative;
    opacity: 1;
    background-color: #000;
}

.main-banner-controls {
    position: absolute;
    left: 0;
    top: calc((100vh - 180px) / 2);
    width: 100%;
}
.mb-control {
    width: 24px;
    height: 24px;
    margin-top: -12px;
    border: 2px solid #fff;
    border-width: 0 0 2px 2px;
    text-indent: -9999em;
    overflow: hidden;
    opacity: 0.5;
    transition: opacity 0.3s;
}
.mb-control:hover {
    opacity: 0.8;
}
/* 이전버튼 < */
.mb-prev {
    position: absolute;
    left: 10px;
    top: 0;
    transform: rotate(45deg);
}
/* 다음버튼 > */
.mb-next {
    position: absolute;
    right: 10px;
    top: 0;
    transform: rotate(-135deg);
}

/* 2. holiday */
.main-holiday {
    width: 100%;
    font-size: 1.8em;
}
.main-holiday li {
    margin: 8% 2%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-holiday .holiday1 {
    background-image: url('../images/02.Last_Minute_Holiday_Gifts/main_holiday1.jpg');
}
.main-holiday .holiday2 {
    background-image: url('../images/02.Last_Minute_Holiday_Gifts/main_holiday2.jpg');
}
.main-holiday .holiday3 {
    display: none;
    background-image: url('../images/02.Last_Minute_Holiday_Gifts/main_holiday3.jpg');
}
.main-holiday a {
    position: relative;
    display: block;
    padding-top: 129%;
    color: #fff;
}
.main-holiday dl {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10% 8%;
    /* 그라디언트 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%); 
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); 
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.9) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.main-holiday dt {
    position: relative;
    font-size: 1.6em;
    z-index: 1;
}
.main-holiday dt:before {
    position: absolute;
    left: -8px;
    top: 0;
    content: '';
    display: block;
    border: 28px solid transparent;
    border-left-color: #afada690;
    z-index: -1;
}
.main-holiday dd {
    height: 3.2em;
    font-size: 14px;
}

/* 3. world */
.world-item {
    position: relative;
    margin-bottom: 12%;
}
.world-item a {
    display: block;
    padding-top: 38%;
}
.world-dl {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding-left: 50%;
    padding-right: 5%;
}
.world-dl dt {
    position: absolute;
    left: -9999em;
}
.world-dl dd {
    margin: 0.3em 0;
}
.world-cate {
    color: #023586;
}
.world-subject {
    font-size: 1.6em;
    color: #000;
    line-height: 1.2;
}
.world-summary {
    display: none;
    font-size: 0.9em;
}
.world-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 48%;
    margin: 0 !important;
    background-color: #000;
    overflow: hidden;
}
.world-img img {
    width: 100%;
    opacity: 0.7;
}
.world-img:after { /*덮는 그라디언트*/
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    content: '';
    transition: bottom 0.3s;
    /* 그라디언트 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 30%, rgba(0,0,0,0.6) 100%); 
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.6) 100%); 
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 30%,rgba(0,0,0,0.6) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.world-img:hover:after {
    bottom: 0;
}
.world-inner-txt {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    transform: translateY(-50%); 
    /*-19px 이동
    1.top: calc(50% - 19px);
    2.top: 50%; margin-top: -19px;
    3.top: 50%; transform: translateY(-50%); 
    */
}
.world-date {
    font-size: 0.7em;
}
/* 4. spotlight */
.main-spotlight {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.main-spotlight2 {
    align-items: flex-start;
}

.spt-item1 {width: 40%;}
.spt-item2 {width: 50%;}
.spt-item3 {width: 30%;}
.spt-item4 {width: 40%;}
.spt-div {position: relative;float: left;}
.spt-div p {position: absolute; left: -9999em;}
.spt-div:hover .spt-go {
    opacity: 1;
    z-index: 10;
    background-color: #000;
    color: #fff;
}
.spt-txt{
    position: absolute;
    padding: 10px;
    font-size: 0.88em;
    text-align: center;
    transition: 0.3;
}
.spt-div1 > .spt-txt, .spt-div3 > .spt-txt {
    left: 0;
    bottom: 0;
}
.spt-div2 > .spt-txt, .spt-div4 > .spt-txt {
    bottom: 0;
    right: 0;
}
.spt-go {
    display: block;
    width: 100px;
    font-size: 0.8em;
    color: #fff;
    opacity: 0.7;
    text-align: center;
    padding: 5px 12%;
}
.spt-img {width: 100%;height: 100%;}
.spt-img img {
    width: 100%;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
/* 프로모션 아이템에 그라디언트 생성 
    1. 어디에? .spt-img:after
    2. 무엇을? 부모크기, 부모덮기, 배경그라디언트, 투명
    3. 어떻게? hover했을 때 진하게 보이도록
    4. 트랜지션 지정
*/
.spt-img:after { /*덮는 그라디언트*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0;
    transition: opacity 0.3s;
    /* 그라디언트 */
    background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0) 30%, rgba(255, 255, 255, 0.6) 100%); 
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 30%,rgba(255, 255, 255, 0.6) 100%); 
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 30%,rgba(255, 255, 255, 0.6) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); 
}
.spt-img:hover:after {
    opacity: 1;
}

/* 라벨붙이기 */
.spt-div:after {
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 0 0 3px 0;
    line-height: 2.2;
    text-align: center;
    font-size: 0.85em;
    color: #fff;
    background: #000;
}
.spt-div1:after {
    content: '아디다스와 스와로브스키의 만남';
    left: 0;
}
.spt-div2:after {
    content: 'BMW, 스와로브스키를 만나다';
    right: 0;
}
.spt-div3:after {
    content: 'The Art of Performance';
    left: 0;
}
.spt-div4:after {
    content: '제임스 터렐의 Umbra';
    right: 0;
}

/* 5. 제품 */
.ed-item {
    position: relative;
    float: left;
    display: block;
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 0.85em;
    font-weight: 700;
}
.ed-item:before { /* 제품 이미지 */
    position: relative;
    display: block;
    width: 90%;
    padding-top: 90%;
    margin: 5%;
    margin-bottom: 7%;
    background-size: cover;
    content: '';
    z-index: 1;
}
.ed-item1:before {background-image: url('../images/05.Annual_Editions_2022/ed01.jpg');}
.ed-item2:before {background-image: url('../images/05.Annual_Editions_2022/ed02.jpg');}
.ed-item3:before {background-image: url('../images/05.Annual_Editions_2022/ed03.jpg');}
.ed-item4:before {background-image: url('../images/05.Annual_Editions_2022/ed04.jpg');}
.ed-item5:before {background-image: url('../images/05.Annual_Editions_2022/ed05.jpg');}
.ed-item6:before {background-image: url('../images/05.Annual_Editions_2022/ed06.jpg');}
.ed-item:after { /* 제품 그라디언트 */
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    padding-top: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    /* 그라디언트 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.6) 100%); 
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.6) 100%); 
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.ed-item:hover:after {
    opacity: 0.5;
}
